{% extends "layout.html" %}
{% block title %}Novo cliente{% endblock %}
{% block content %}
<h1>Novo cliente da locadora</h1>
<form method="POST">
    <div class="form-grupo"><label>Nome</label><input name="nome" required></div>
    <div class="form-grupo"><label>CPF</label><input name="cpf" required></div>
    <div class="form-grupo"><label>CNH</label><input name="cnh" required></div>
    <button type="submit">Salvar</button>
</form>
<p><a href="{{ url_for('locadora.index') }}">← Voltar</a></p>
{% endblock %}
